.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s;
    border-radius: 5px;
    font-size: 16px;
    background: #2a2a2a;
    border: 2px solid transparent;
}

.cell.active {
    border-color: white;
}

.cell.solved {
    background: #198b37;
    pointer-events: none;
    cursor: default;
}

.cell:hover {
    transform: scale(1.2);
    border-radius: 10px;
    background: #333;
    box-shadow: 0px 0px 20px 20px rgb(0 0 0 / 10%);
}

.cell:nth-child(1) {
    border-top-left-radius: 10px;
}

.cell:nth-child(3) {
    border-top-right-radius: 10px;
}

.cell:nth-child(7) {
    border-bottom-left-radius: 10px;
}

.cell:nth-child(9) {
    border-bottom-right-radius: 10px;
}

@media screen and (min-width: 550px) {

    .cell {
        font-size: 20px
    }

}
