#warning {
    display: none;
    width: 90%;
    position: absolute;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    animation: fadeIn 0.2s;
    user-select: none;
    background: var(--red);
    -webkit-tap-highlight-color: transparent;
}

#warning.visible {
    display: block
}
