#instructions {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    animation: fadeIn 0.2s;
    z-index: 2000;
}

#lightbox {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #00000080;
}

#instructions__content {
    width: 100%;
    max-width: calc(600px - 2rem);
    position: relative;
    margin-top: 2rem;
    padding: 2rem 1rem;
    border-radius: 10px;
    z-index: 1;
    background-color: #1a1a1a;
    animation: slideIn 0.5s;
}

#instructions__content ol {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 0;
    color: #ddd;
}

#instructions__close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}
