#controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    animation: fadeIn 1s;
}

#controls__numbers {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

@media screen and (min-width: 550px) {

    #controls__numbers {
        justify-content: space-between;
    }

}
