@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #121212;
    font-family: Fredoka, sans-serif;
    font-size: 16px;
    color: #eee;
}

h1 {
    margin: 0;
    text-align: center;
    font-weight: 500;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes jumpIn {
    0% {
        scale: 0.5;
    }

    50% {
        scale: 1.5;
    }

    100% {
        scale: 1;
    }
}

@keyframes scaleIn {
    0% {
        scale: 0.5;
    }

    100% {
        scale: 1;
    }
}
