#stats {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#stats__turn,
#stats__instructions-button {
    padding: 10px 15px;
    border-radius: 10px;
    user-select: none;
    background: #2a2a2a;
}

#stats__instructions-button {
    cursor: pointer;
    transition: all 0.2s;
}

#stats__instructions-button:hover {
    transform: scale(1.2);
    background: #333;
}
