#stats {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#stats__turn {
    border-radius: 10px;
    user-select: none;
    background: var(--gray);
}

#stats__turn {
    padding: 10px 15px;
}

#stats__instructions-button {
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-size: 25px;
}
